name: NodeJS with Webpack

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    # CI 环境变量防止 npm 进入交互模式
    - name: Install dependencies
      run: |
        export CI=true
        npm ci
        npm install -D webpack-cli

    - name: Build with Webpack
      run: |
        export CI=true
        npx webpack
